#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1931px 796px #fff, 226px 1911px #fff, 159px 1441px #fff,
    195px 987px #fff, 1565px 540px #fff, 308px 937px #fff, 867px 1535px #fff,
    1874px 736px #fff, 983px 628px #fff, 324px 715px #fff, 1542px 1971px #fff,
    1808px 655px #fff, 1346px 638px #fff, 1833px 1746px #fff, 1742px 1792px #fff,
    776px 391px #fff, 1665px 470px #fff, 1276px 1513px #fff, 1517px 681px #fff,
    1065px 970px #fff, 667px 1566px #fff, 1965px 229px #fff, 632px 691px #fff,
    922px 601px #fff, 431px 1580px #fff, 14px 1458px #fff, 1521px 457px #fff,
    1959px 629px #fff, 41px 322px #fff, 1894px 1341px #fff, 1604px 1450px #fff,
    306px 1167px #fff, 91px 1460px #fff, 1938px 672px #fff, 1047px 364px #fff,
    1056px 1309px #fff, 1399px 58px #fff, 876px 1693px #fff, 1702px 1399px #fff,
    1461px 748px #fff, 1318px 804px #fff, 777px 228px #fff, 1952px 914px #fff,
    1751px 232px #fff, 1700px 1838px #fff, 1693px 928px #fff, 1914px 179px #fff,
    162px 1157px #fff, 678px 170px #fff, 1219px 1507px #fff, 725px 1892px #fff,
    1705px 1756px #fff, 1704px 1235px #fff, 1818px 483px #fff, 930px 1265px #fff,
    200px 75px #fff, 915px 1636px #fff, 479px 1566px #fff, 1706px 1638px #fff,
    1858px 792px #fff, 480px 1444px #fff, 18px 20px #fff, 1350px 1120px #fff,
    646px 1874px #fff, 768px 1859px #fff, 97px 1200px #fff, 684px 1575px #fff,
    416px 313px #fff, 1781px 1779px #fff, 1009px 307px #fff, 205px 590px #fff,
    348px 285px #fff, 1595px 1664px #fff, 604px 1136px #fff, 1398px 1793px #fff,
    147px 165px #fff, 483px 1671px #fff, 92px 68px #fff, 80px 1352px #fff,
    1938px 336px #fff, 684px 533px #fff, 1534px 249px #fff, 1609px 329px #fff,
    317px 684px #fff, 440px 19px #fff, 539px 1845px #fff, 206px 946px #fff,
    1746px 1031px #fff, 632px 1426px #fff, 1413px 93px #fff, 1423px 399px #fff,
    1385px 524px #fff, 63px 644px #fff, 668px 1801px #fff, 1430px 519px #fff,
    1895px 423px #fff, 499px 1392px #fff, 1414px 199px #fff, 521px 1400px #fff,
    1006px 1845px #fff, 812px 66px #fff, 1408px 1856px #fff, 936px 1606px #fff,
    914px 990px #fff, 854px 286px #fff, 774px 1112px #fff, 817px 361px #fff,
    1337px 1597px #fff, 75px 773px #fff, 510px 1703px #fff, 731px 1411px #fff,
    381px 1429px #fff, 1427px 1399px #fff, 747px 1903px #fff, 1839px 765px #fff,
    306px 350px #fff, 239px 188px #fff, 1309px 672px #fff, 1788px 289px #fff,
    88px 1240px #fff, 402px 1539px #fff, 1519px 707px #fff, 615px 1255px #fff,
    39px 1402px #fff, 618px 1500px #fff, 1629px 1611px #fff, 122px 77px #fff,
    551px 1532px #fff, 1675px 491px #fff, 1795px 306px #fff, 1523px 1501px #fff,
    458px 87px #fff, 124px 1048px #fff, 1434px 595px #fff, 820px 1742px #fff,
    1798px 438px #fff, 1009px 179px #fff, 1981px 1857px #fff, 218px 1943px #fff,
    1056px 829px #fff, 1740px 691px #fff, 1765px 466px #fff, 76px 686px #fff,
    1788px 1958px #fff, 345px 1706px #fff, 979px 1566px #fff, 1263px 1643px #fff,
    1230px 1260px #fff, 1305px 1195px #fff, 765px 95px #fff, 576px 1516px #fff,
    1265px 711px #fff, 1266px 1263px #fff, 299px 1688px #fff, 1082px 656px #fff,
    1957px 1500px #fff, 1013px 30px #fff, 709px 717px #fff, 1921px 98px #fff,
    999px 343px #fff, 151px 1039px #fff, 1244px 1687px #fff, 413px 1631px #fff,
    1968px 1391px #fff, 1406px 592px #fff, 706px 1292px #fff, 346px 1717px #fff,
    770px 1974px #fff, 1736px 1828px #fff, 1753px 1200px #fff,
    1738px 1488px #fff, 530px 818px #fff, 298px 1203px #fff, 1494px 775px #fff,
    1139px 1184px #fff, 1290px 1745px #fff, 1300px 43px #fff, 408px 1541px #fff,
    1499px 265px #fff, 1002px 1279px #fff, 235px 1842px #fff, 1606px 552px #fff,
    1826px 840px #fff, 867px 1648px #fff, 1939px 259px #fff, 832px 522px #fff,
    18px 173px #fff, 722px 1419px #fff, 1708px 625px #fff, 1192px 1256px #fff,
    1183px 811px #fff, 1375px 1030px #fff, 1394px 1281px #fff, 795px 1555px #fff,
    1634px 342px #fff, 301px 836px #fff, 1427px 213px #fff, 858px 138px #fff,
    984px 1611px #fff, 587px 1679px #fff, 1506px 1069px #fff, 600px 1267px #fff,
    1646px 1497px #fff, 840px 372px #fff, 1335px 1002px #fff, 1391px 750px #fff,
    844px 1009px #fff, 82px 1726px #fff, 72px 249px #fff, 1418px 1095px #fff,
    1318px 792px #fff, 1757px 1993px #fff, 1548px 251px #fff, 984px 1830px #fff,
    183px 1937px #fff, 746px 1368px #fff, 386px 1500px #fff, 1430px 670px #fff,
    644px 951px #fff, 1203px 909px #fff, 579px 1522px #fff, 1986px 27px #fff,
    1341px 1232px #fff, 518px 295px #fff, 1724px 551px #fff, 65px 1250px #fff,
    692px 731px #fff, 635px 309px #fff, 1242px 1789px #fff, 1907px 804px #fff,
    1322px 1617px #fff, 1325px 1519px #fff, 1533px 847px #fff, 947px 985px #fff,
    1888px 1894px #fff, 171px 1039px #fff, 1930px 546px #fff, 792px 1149px #fff,
    464px 1502px #fff, 1637px 1573px #fff, 1739px 1961px #fff,
    1069px 1598px #fff, 882px 1716px #fff, 375px 1076px #fff, 215px 1386px #fff,
    1156px 1288px #fff, 1943px 1325px #fff, 54px 1519px #fff, 1268px 1945px #fff,
    656px 1211px #fff, 354px 384px #fff, 1151px 1651px #fff, 1609px 1783px #fff,
    1638px 1793px #fff, 1182px 719px #fff, 1938px 1121px #fff, 1021px 652px #fff,
    754px 782px #fff, 1907px 302px #fff, 1421px 1521px #fff, 484px 1834px #fff,
    862px 117px #fff, 1727px 1307px #fff, 1591px 534px #fff, 1976px 1244px #fff,
    1160px 1619px #fff, 609px 1332px #fff, 1932px 1744px #fff,
    1299px 1846px #fff, 480px 625px #fff, 789px 838px #fff, 1492px 626px #fff,
    234px 1651px #fff, 1624px 490px #fff, 378px 1388px #fff, 1862px 6px #fff,
    188px 1590px #fff, 562px 879px #fff, 105px 435px #fff, 178px 1740px #fff,
    1909px 1591px #fff, 815px 533px #fff, 104px 814px #fff, 251px 982px #fff,
    774px 94px #fff, 1747px 1741px #fff, 757px 1337px #fff, 1066px 1560px #fff,
    1008px 115px #fff, 1497px 1412px #fff, 1687px 981px #fff, 1997px 495px #fff,
    749px 786px #fff, 1883px 1172px #fff, 1821px 1233px #fff, 1252px 957px #fff,
    728px 949px #fff, 1550px 764px #fff, 1695px 795px #fff, 1421px 1px #fff,
    479px 792px #fff, 838px 1530px #fff, 1016px 1070px #fff, 1400px 727px #fff,
    986px 1456px #fff, 1776px 789px #fff, 117px 1483px #fff, 1116px 1564px #fff,
    1900px 1560px #fff, 1548px 1451px #fff, 1645px 1135px #fff,
    1119px 1977px #fff, 1229px 332px #fff, 348px 1604px #fff, 1201px 128px #fff,
    878px 509px #fff, 397px 1237px #fff, 51px 87px #fff, 599px 855px #fff,
    1085px 121px #fff, 1457px 704px #fff, 264px 202px #fff, 185px 1875px #fff,
    1102px 850px #fff, 826px 753px #fff, 653px 134px #fff, 1936px 1254px #fff,
    1160px 1279px #fff, 1509px 10px #fff, 229px 1494px #fff, 438px 1828px #fff,
    566px 63px #fff, 29px 1405px #fff, 292px 1022px #fff, 1239px 1591px #fff,
    263px 1263px #fff, 440px 1804px #fff, 1506px 1691px #fff, 783px 1468px #fff,
    1288px 1156px #fff, 25px 1587px #fff, 1375px 412px #fff, 1550px 1354px #fff,
    1051px 220px #fff, 729px 1687px #fff, 1551px 1661px #fff, 4px 1962px #fff,
    1127px 71px #fff, 823px 1644px #fff, 477px 291px #fff, 1706px 108px #fff,
    865px 1435px #fff, 40px 1677px #fff, 244px 1810px #fff, 1925px 313px #fff,
    1245px 24px #fff, 207px 1702px #fff, 1910px 754px #fff, 670px 1663px #fff,
    1026px 1115px #fff, 1008px 305px #fff, 24px 596px #fff, 848px 1499px #fff,
    222px 1452px #fff, 1654px 1603px #fff, 1276px 124px #fff, 1874px 1653px #fff,
    1056px 788px #fff, 953px 1003px #fff, 272px 509px #fff, 319px 339px #fff,
    382px 1222px #fff, 1773px 1045px #fff, 1811px 1703px #fff, 1938px 198px #fff,
    1507px 514px #fff, 1152px 869px #fff, 1808px 1214px #fff, 754px 450px #fff,
    1680px 1552px #fff, 1109px 307px #fff, 876px 268px #fff, 378px 583px #fff,
    1539px 1439px #fff, 776px 813px #fff, 826px 1048px #fff, 988px 1259px #fff,
    1778px 1323px #fff, 1268px 999px #fff, 1622px 610px #fff, 203px 434px #fff,
    1690px 825px #fff, 192px 1641px #fff, 674px 740px #fff, 308px 711px #fff,
    1329px 1425px #fff, 1492px 1274px #fff, 1332px 1216px #fff, 463px 961px #fff,
    995px 1695px #fff, 679px 873px #fff, 563px 118px #fff, 1073px 176px #fff,
    520px 1806px #fff, 1070px 1096px #fff, 1631px 600px #fff, 1576px 12px #fff,
    104px 1259px #fff, 226px 93px #fff, 340px 404px #fff, 1628px 1443px #fff,
    1822px 127px #fff, 1121px 561px #fff, 397px 300px #fff, 35px 532px #fff,
    565px 1046px #fff, 496px 268px #fff, 533px 1766px #fff, 1429px 1113px #fff,
    1445px 990px #fff, 844px 1421px #fff, 877px 1929px #fff, 840px 115px #fff,
    279px 1890px #fff, 1303px 1943px #fff, 255px 1473px #fff, 929px 1997px #fff,
    706px 1052px #fff, 1630px 1652px #fff, 1373px 1358px #fff,
    1134px 1628px #fff, 252px 112px #fff, 1719px 565px #fff, 847px 1426px #fff,
    113px 1507px #fff, 828px 1281px #fff, 461px 539px #fff, 420px 1810px #fff,
    1951px 1782px #fff, 1517px 831px #fff, 307px 98px #fff, 70px 387px #fff,
    1336px 1230px #fff, 203px 15px #fff, 940px 1398px #fff, 1553px 221px #fff,
    841px 1095px #fff, 414px 1780px #fff, 220px 363px #fff, 1297px 1667px #fff,
    848px 109px #fff, 1056px 1010px #fff, 1993px 1387px #fff, 626px 1067px #fff,
    977px 34px #fff, 7px 1564px #fff, 1715px 737px #fff, 1028px 559px #fff,
    1852px 1840px #fff, 929px 69px #fff, 542px 1095px #fff, 1432px 381px #fff,
    678px 913px #fff, 1354px 1473px #fff, 902px 1411px #fff, 1031px 1647px #fff,
    194px 1594px #fff, 30px 742px #fff, 1206px 1978px #fff, 203px 1943px #fff,
    1948px 223px #fff, 1221px 1853px #fff, 316px 1813px #fff, 337px 1265px #fff,
    231px 861px #fff, 585px 362px #fff, 820px 1981px #fff, 310px 544px #fff,
    1326px 220px #fff, 1980px 1590px #fff, 297px 388px #fff, 1338px 1427px #fff,
    868px 1126px #fff, 1135px 254px #fff, 217px 457px #fff, 309px 1713px #fff,
    884px 1865px #fff, 18px 185px #fff, 728px 9px #fff, 547px 1236px #fff,
    1682px 367px #fff, 193px 737px #fff, 1333px 1951px #fff, 635px 738px #fff,
    66px 1477px #fff, 1131px 869px #fff, 1075px 727px #fff, 1904px 1021px #fff,
    1012px 1333px #fff, 1049px 1045px #fff, 1146px 1562px #fff,
    725px 1792px #fff, 456px 1050px #fff, 1212px 1896px #fff, 447px 1178px #fff,
    573px 572px #fff, 211px 97px #fff, 1292px 1358px #fff, 134px 844px #fff,
    620px 782px #fff, 1933px 63px #fff, 23px 1907px #fff, 1007px 1272px #fff,
    1612px 1835px #fff, 1032px 974px #fff, 628px 130px #fff, 1270px 1207px #fff,
    1766px 622px #fff, 441px 149px #fff, 461px 1375px #fff, 731px 487px #fff,
    14px 1883px #fff, 1924px 721px #fff, 84px 1266px #fff, 258px 91px #fff,
    727px 714px #fff, 1543px 1694px #fff, 692px 92px #fff, 353px 1804px #fff,
    1922px 663px #fff, 708px 1198px #fff, 811px 1695px #fff, 310px 562px #fff,
    1167px 1889px #fff, 1419px 1014px #fff, 1275px 55px #fff, 1718px 577px #fff,
    1787px 1098px #fff, 1462px 738px #fff, 874px 1017px #fff, 1847px 386px #fff,
    340px 442px #fff, 1780px 1542px #fff, 406px 483px #fff, 589px 739px #fff,
    1500px 816px #fff, 1626px 361px #fff, 853px 796px #fff, 884px 1225px #fff,
    1562px 564px #fff, 1174px 747px #fff, 1884px 408px #fff, 689px 1395px #fff,
    1607px 1046px #fff, 239px 518px #fff, 334px 912px #fff, 72px 1974px #fff,
    810px 1685px #fff, 338px 1237px #fff, 1586px 1941px #fff, 882px 551px #fff,
    331px 1851px #fff, 1309px 1142px #fff, 924px 1784px #fff, 127px 387px #fff,
    1284px 920px #fff, 1924px 788px #fff, 1315px 115px #fff, 1514px 743px #fff,
    1449px 726px #fff, 1976px 1478px #fff, 1437px 561px #fff, 1075px 659px #fff,
    960px 114px #fff, 637px 467px #fff, 1320px 1073px #fff, 592px 376px #fff,
    251px 1088px #fff, 87px 1390px #fff, 1789px 865px #fff, 1824px 1113px #fff,
    1820px 992px #fff, 1353px 1625px #fff, 1473px 931px #fff, 862px 1273px #fff,
    773px 1197px #fff, 1406px 456px #fff, 232px 55px #fff, 769px 173px #fff,
    1722px 1634px #fff, 1200px 1226px #fff, 1713px 1698px #fff,
    451px 1074px #fff, 1036px 177px #fff, 1133px 1920px #fff, 1539px 580px #fff,
    712px 1466px #fff, 1300px 1605px #fff, 1770px 852px #fff, 1219px 1656px #fff,
    1543px 1294px #fff, 843px 644px #fff, 136px 598px #fff, 435px 66px #fff,
    1097px 573px #fff, 203px 132px #fff, 889px 1242px #fff, 1822px 1241px #fff,
    1060px 948px #fff, 401px 935px #fff, 917px 664px #fff, 1831px 1393px #fff,
    453px 898px #fff, 5px 768px #fff, 1724px 925px #fff, 1640px 717px #fff,
    406px 1135px #fff, 1155px 949px #fff, 1879px 1842px #fff, 1832px 1742px #fff,
    1367px 143px #fff, 1399px 2000px #fff, 569px 1109px #fff, 1877px 696px #fff,
    537px 1366px #fff, 1113px 127px #fff, 17px 1433px #fff, 128px 378px #fff,
    958px 989px #fff, 981px 1715px #fff, 1200px 1498px #fff, 1717px 1710px #fff,
    1650px 727px #fff, 612px 1459px #fff, 1549px 1065px #fff, 1978px 589px #fff,
    145px 871px #fff, 1244px 329px #fff, 568px 1732px #fff, 1524px 1716px #fff,
    280px 578px #fff, 1292px 1843px #fff, 1218px 1758px #fff, 723px 1361px #fff,
    1231px 1762px #fff, 944px 1981px #fff, 719px 229px #fff, 98px 1369px #fff,
    1628px 1174px #fff, 476px 1280px #fff, 1545px 180px #fff, 1080px 1044px #fff,
    680px 492px #fff, 1054px 1099px #fff, 1128px 1890px #fff, 437px 1988px #fff,
    68px 578px #fff, 280px 3px #fff, 1117px 1469px #fff, 1300px 1903px #fff,
    1908px 1877px #fff, 1056px 1724px #fff, 800px 1560px #fff, 1421px 249px #fff,
    799px 1570px #fff, 1819px 914px #fff, 836px 1498px #fff, 572px 179px #fff,
    707px 1042px #fff, 1339px 1991px #fff, 298px 859px #fff, 994px 551px #fff,
    435px 1134px #fff, 1717px 1981px #fff, 693px 1986px #fff, 1923px 336px #fff,
    1908px 157px #fff, 987px 1777px #fff, 460px 782px #fff, 87px 1677px #fff,
    1764px 1921px #fff, 295px 46px #fff, 146px 1299px #fff, 1368px 1014px #fff,
    1263px 1984px #fff, 1380px 1024px #fff, 1243px 614px #fff, 380px 1699px #fff,
    1501px 954px #fff, 1267px 1860px #fff, 1119px 1930px #fff, 224px 1319px #fff,
    1273px 1452px #fff, 1264px 1407px #fff, 1381px 701px #fff, 1498px 166px #fff,
    1534px 677px #fff, 664px 694px #fff, 1901px 1565px #fff, 1631px 1024px #fff;
  animation: animStar 50s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1931px 796px #fff, 226px 1911px #fff, 159px 1441px #fff,
    195px 987px #fff, 1565px 540px #fff, 308px 937px #fff, 867px 1535px #fff,
    1874px 736px #fff, 983px 628px #fff, 324px 715px #fff, 1542px 1971px #fff,
    1808px 655px #fff, 1346px 638px #fff, 1833px 1746px #fff, 1742px 1792px #fff,
    776px 391px #fff, 1665px 470px #fff, 1276px 1513px #fff, 1517px 681px #fff,
    1065px 970px #fff, 667px 1566px #fff, 1965px 229px #fff, 632px 691px #fff,
    922px 601px #fff, 431px 1580px #fff, 14px 1458px #fff, 1521px 457px #fff,
    1959px 629px #fff, 41px 322px #fff, 1894px 1341px #fff, 1604px 1450px #fff,
    306px 1167px #fff, 91px 1460px #fff, 1938px 672px #fff, 1047px 364px #fff,
    1056px 1309px #fff, 1399px 58px #fff, 876px 1693px #fff, 1702px 1399px #fff,
    1461px 748px #fff, 1318px 804px #fff, 777px 228px #fff, 1952px 914px #fff,
    1751px 232px #fff, 1700px 1838px #fff, 1693px 928px #fff, 1914px 179px #fff,
    162px 1157px #fff, 678px 170px #fff, 1219px 1507px #fff, 725px 1892px #fff,
    1705px 1756px #fff, 1704px 1235px #fff, 1818px 483px #fff, 930px 1265px #fff,
    200px 75px #fff, 915px 1636px #fff, 479px 1566px #fff, 1706px 1638px #fff,
    1858px 792px #fff, 480px 1444px #fff, 18px 20px #fff, 1350px 1120px #fff,
    646px 1874px #fff, 768px 1859px #fff, 97px 1200px #fff, 684px 1575px #fff,
    416px 313px #fff, 1781px 1779px #fff, 1009px 307px #fff, 205px 590px #fff,
    348px 285px #fff, 1595px 1664px #fff, 604px 1136px #fff, 1398px 1793px #fff,
    147px 165px #fff, 483px 1671px #fff, 92px 68px #fff, 80px 1352px #fff,
    1938px 336px #fff, 684px 533px #fff, 1534px 249px #fff, 1609px 329px #fff,
    317px 684px #fff, 440px 19px #fff, 539px 1845px #fff, 206px 946px #fff,
    1746px 1031px #fff, 632px 1426px #fff, 1413px 93px #fff, 1423px 399px #fff,
    1385px 524px #fff, 63px 644px #fff, 668px 1801px #fff, 1430px 519px #fff,
    1895px 423px #fff, 499px 1392px #fff, 1414px 199px #fff, 521px 1400px #fff,
    1006px 1845px #fff, 812px 66px #fff, 1408px 1856px #fff, 936px 1606px #fff,
    914px 990px #fff, 854px 286px #fff, 774px 1112px #fff, 817px 361px #fff,
    1337px 1597px #fff, 75px 773px #fff, 510px 1703px #fff, 731px 1411px #fff,
    381px 1429px #fff, 1427px 1399px #fff, 747px 1903px #fff, 1839px 765px #fff,
    306px 350px #fff, 239px 188px #fff, 1309px 672px #fff, 1788px 289px #fff,
    88px 1240px #fff, 402px 1539px #fff, 1519px 707px #fff, 615px 1255px #fff,
    39px 1402px #fff, 618px 1500px #fff, 1629px 1611px #fff, 122px 77px #fff,
    551px 1532px #fff, 1675px 491px #fff, 1795px 306px #fff, 1523px 1501px #fff,
    458px 87px #fff, 124px 1048px #fff, 1434px 595px #fff, 820px 1742px #fff,
    1798px 438px #fff, 1009px 179px #fff, 1981px 1857px #fff, 218px 1943px #fff,
    1056px 829px #fff, 1740px 691px #fff, 1765px 466px #fff, 76px 686px #fff,
    1788px 1958px #fff, 345px 1706px #fff, 979px 1566px #fff, 1263px 1643px #fff,
    1230px 1260px #fff, 1305px 1195px #fff, 765px 95px #fff, 576px 1516px #fff,
    1265px 711px #fff, 1266px 1263px #fff, 299px 1688px #fff, 1082px 656px #fff,
    1957px 1500px #fff, 1013px 30px #fff, 709px 717px #fff, 1921px 98px #fff,
    999px 343px #fff, 151px 1039px #fff, 1244px 1687px #fff, 413px 1631px #fff,
    1968px 1391px #fff, 1406px 592px #fff, 706px 1292px #fff, 346px 1717px #fff,
    770px 1974px #fff, 1736px 1828px #fff, 1753px 1200px #fff,
    1738px 1488px #fff, 530px 818px #fff, 298px 1203px #fff, 1494px 775px #fff,
    1139px 1184px #fff, 1290px 1745px #fff, 1300px 43px #fff, 408px 1541px #fff,
    1499px 265px #fff, 1002px 1279px #fff, 235px 1842px #fff, 1606px 552px #fff,
    1826px 840px #fff, 867px 1648px #fff, 1939px 259px #fff, 832px 522px #fff,
    18px 173px #fff, 722px 1419px #fff, 1708px 625px #fff, 1192px 1256px #fff,
    1183px 811px #fff, 1375px 1030px #fff, 1394px 1281px #fff, 795px 1555px #fff,
    1634px 342px #fff, 301px 836px #fff, 1427px 213px #fff, 858px 138px #fff,
    984px 1611px #fff, 587px 1679px #fff, 1506px 1069px #fff, 600px 1267px #fff,
    1646px 1497px #fff, 840px 372px #fff, 1335px 1002px #fff, 1391px 750px #fff,
    844px 1009px #fff, 82px 1726px #fff, 72px 249px #fff, 1418px 1095px #fff,
    1318px 792px #fff, 1757px 1993px #fff, 1548px 251px #fff, 984px 1830px #fff,
    183px 1937px #fff, 746px 1368px #fff, 386px 1500px #fff, 1430px 670px #fff,
    644px 951px #fff, 1203px 909px #fff, 579px 1522px #fff, 1986px 27px #fff,
    1341px 1232px #fff, 518px 295px #fff, 1724px 551px #fff, 65px 1250px #fff,
    692px 731px #fff, 635px 309px #fff, 1242px 1789px #fff, 1907px 804px #fff,
    1322px 1617px #fff, 1325px 1519px #fff, 1533px 847px #fff, 947px 985px #fff,
    1888px 1894px #fff, 171px 1039px #fff, 1930px 546px #fff, 792px 1149px #fff,
    464px 1502px #fff, 1637px 1573px #fff, 1739px 1961px #fff,
    1069px 1598px #fff, 882px 1716px #fff, 375px 1076px #fff, 215px 1386px #fff,
    1156px 1288px #fff, 1943px 1325px #fff, 54px 1519px #fff, 1268px 1945px #fff,
    656px 1211px #fff, 354px 384px #fff, 1151px 1651px #fff, 1609px 1783px #fff,
    1638px 1793px #fff, 1182px 719px #fff, 1938px 1121px #fff, 1021px 652px #fff,
    754px 782px #fff, 1907px 302px #fff, 1421px 1521px #fff, 484px 1834px #fff,
    862px 117px #fff, 1727px 1307px #fff, 1591px 534px #fff, 1976px 1244px #fff,
    1160px 1619px #fff, 609px 1332px #fff, 1932px 1744px #fff,
    1299px 1846px #fff, 480px 625px #fff, 789px 838px #fff, 1492px 626px #fff,
    234px 1651px #fff, 1624px 490px #fff, 378px 1388px #fff, 1862px 6px #fff,
    188px 1590px #fff, 562px 879px #fff, 105px 435px #fff, 178px 1740px #fff,
    1909px 1591px #fff, 815px 533px #fff, 104px 814px #fff, 251px 982px #fff,
    774px 94px #fff, 1747px 1741px #fff, 757px 1337px #fff, 1066px 1560px #fff,
    1008px 115px #fff, 1497px 1412px #fff, 1687px 981px #fff, 1997px 495px #fff,
    749px 786px #fff, 1883px 1172px #fff, 1821px 1233px #fff, 1252px 957px #fff,
    728px 949px #fff, 1550px 764px #fff, 1695px 795px #fff, 1421px 1px #fff,
    479px 792px #fff, 838px 1530px #fff, 1016px 1070px #fff, 1400px 727px #fff,
    986px 1456px #fff, 1776px 789px #fff, 117px 1483px #fff, 1116px 1564px #fff,
    1900px 1560px #fff, 1548px 1451px #fff, 1645px 1135px #fff,
    1119px 1977px #fff, 1229px 332px #fff, 348px 1604px #fff, 1201px 128px #fff,
    878px 509px #fff, 397px 1237px #fff, 51px 87px #fff, 599px 855px #fff,
    1085px 121px #fff, 1457px 704px #fff, 264px 202px #fff, 185px 1875px #fff,
    1102px 850px #fff, 826px 753px #fff, 653px 134px #fff, 1936px 1254px #fff,
    1160px 1279px #fff, 1509px 10px #fff, 229px 1494px #fff, 438px 1828px #fff,
    566px 63px #fff, 29px 1405px #fff, 292px 1022px #fff, 1239px 1591px #fff,
    263px 1263px #fff, 440px 1804px #fff, 1506px 1691px #fff, 783px 1468px #fff,
    1288px 1156px #fff, 25px 1587px #fff, 1375px 412px #fff, 1550px 1354px #fff,
    1051px 220px #fff, 729px 1687px #fff, 1551px 1661px #fff, 4px 1962px #fff,
    1127px 71px #fff, 823px 1644px #fff, 477px 291px #fff, 1706px 108px #fff,
    865px 1435px #fff, 40px 1677px #fff, 244px 1810px #fff, 1925px 313px #fff,
    1245px 24px #fff, 207px 1702px #fff, 1910px 754px #fff, 670px 1663px #fff,
    1026px 1115px #fff, 1008px 305px #fff, 24px 596px #fff, 848px 1499px #fff,
    222px 1452px #fff, 1654px 1603px #fff, 1276px 124px #fff, 1874px 1653px #fff,
    1056px 788px #fff, 953px 1003px #fff, 272px 509px #fff, 319px 339px #fff,
    382px 1222px #fff, 1773px 1045px #fff, 1811px 1703px #fff, 1938px 198px #fff,
    1507px 514px #fff, 1152px 869px #fff, 1808px 1214px #fff, 754px 450px #fff,
    1680px 1552px #fff, 1109px 307px #fff, 876px 268px #fff, 378px 583px #fff,
    1539px 1439px #fff, 776px 813px #fff, 826px 1048px #fff, 988px 1259px #fff,
    1778px 1323px #fff, 1268px 999px #fff, 1622px 610px #fff, 203px 434px #fff,
    1690px 825px #fff, 192px 1641px #fff, 674px 740px #fff, 308px 711px #fff,
    1329px 1425px #fff, 1492px 1274px #fff, 1332px 1216px #fff, 463px 961px #fff,
    995px 1695px #fff, 679px 873px #fff, 563px 118px #fff, 1073px 176px #fff,
    520px 1806px #fff, 1070px 1096px #fff, 1631px 600px #fff, 1576px 12px #fff,
    104px 1259px #fff, 226px 93px #fff, 340px 404px #fff, 1628px 1443px #fff,
    1822px 127px #fff, 1121px 561px #fff, 397px 300px #fff, 35px 532px #fff,
    565px 1046px #fff, 496px 268px #fff, 533px 1766px #fff, 1429px 1113px #fff,
    1445px 990px #fff, 844px 1421px #fff, 877px 1929px #fff, 840px 115px #fff,
    279px 1890px #fff, 1303px 1943px #fff, 255px 1473px #fff, 929px 1997px #fff,
    706px 1052px #fff, 1630px 1652px #fff, 1373px 1358px #fff,
    1134px 1628px #fff, 252px 112px #fff, 1719px 565px #fff, 847px 1426px #fff,
    113px 1507px #fff, 828px 1281px #fff, 461px 539px #fff, 420px 1810px #fff,
    1951px 1782px #fff, 1517px 831px #fff, 307px 98px #fff, 70px 387px #fff,
    1336px 1230px #fff, 203px 15px #fff, 940px 1398px #fff, 1553px 221px #fff,
    841px 1095px #fff, 414px 1780px #fff, 220px 363px #fff, 1297px 1667px #fff,
    848px 109px #fff, 1056px 1010px #fff, 1993px 1387px #fff, 626px 1067px #fff,
    977px 34px #fff, 7px 1564px #fff, 1715px 737px #fff, 1028px 559px #fff,
    1852px 1840px #fff, 929px 69px #fff, 542px 1095px #fff, 1432px 381px #fff,
    678px 913px #fff, 1354px 1473px #fff, 902px 1411px #fff, 1031px 1647px #fff,
    194px 1594px #fff, 30px 742px #fff, 1206px 1978px #fff, 203px 1943px #fff,
    1948px 223px #fff, 1221px 1853px #fff, 316px 1813px #fff, 337px 1265px #fff,
    231px 861px #fff, 585px 362px #fff, 820px 1981px #fff, 310px 544px #fff,
    1326px 220px #fff, 1980px 1590px #fff, 297px 388px #fff, 1338px 1427px #fff,
    868px 1126px #fff, 1135px 254px #fff, 217px 457px #fff, 309px 1713px #fff,
    884px 1865px #fff, 18px 185px #fff, 728px 9px #fff, 547px 1236px #fff,
    1682px 367px #fff, 193px 737px #fff, 1333px 1951px #fff, 635px 738px #fff,
    66px 1477px #fff, 1131px 869px #fff, 1075px 727px #fff, 1904px 1021px #fff,
    1012px 1333px #fff, 1049px 1045px #fff, 1146px 1562px #fff,
    725px 1792px #fff, 456px 1050px #fff, 1212px 1896px #fff, 447px 1178px #fff,
    573px 572px #fff, 211px 97px #fff, 1292px 1358px #fff, 134px 844px #fff,
    620px 782px #fff, 1933px 63px #fff, 23px 1907px #fff, 1007px 1272px #fff,
    1612px 1835px #fff, 1032px 974px #fff, 628px 130px #fff, 1270px 1207px #fff,
    1766px 622px #fff, 441px 149px #fff, 461px 1375px #fff, 731px 487px #fff,
    14px 1883px #fff, 1924px 721px #fff, 84px 1266px #fff, 258px 91px #fff,
    727px 714px #fff, 1543px 1694px #fff, 692px 92px #fff, 353px 1804px #fff,
    1922px 663px #fff, 708px 1198px #fff, 811px 1695px #fff, 310px 562px #fff,
    1167px 1889px #fff, 1419px 1014px #fff, 1275px 55px #fff, 1718px 577px #fff,
    1787px 1098px #fff, 1462px 738px #fff, 874px 1017px #fff, 1847px 386px #fff,
    340px 442px #fff, 1780px 1542px #fff, 406px 483px #fff, 589px 739px #fff,
    1500px 816px #fff, 1626px 361px #fff, 853px 796px #fff, 884px 1225px #fff,
    1562px 564px #fff, 1174px 747px #fff, 1884px 408px #fff, 689px 1395px #fff,
    1607px 1046px #fff, 239px 518px #fff, 334px 912px #fff, 72px 1974px #fff,
    810px 1685px #fff, 338px 1237px #fff, 1586px 1941px #fff, 882px 551px #fff,
    331px 1851px #fff, 1309px 1142px #fff, 924px 1784px #fff, 127px 387px #fff,
    1284px 920px #fff, 1924px 788px #fff, 1315px 115px #fff, 1514px 743px #fff,
    1449px 726px #fff, 1976px 1478px #fff, 1437px 561px #fff, 1075px 659px #fff,
    960px 114px #fff, 637px 467px #fff, 1320px 1073px #fff, 592px 376px #fff,
    251px 1088px #fff, 87px 1390px #fff, 1789px 865px #fff, 1824px 1113px #fff,
    1820px 992px #fff, 1353px 1625px #fff, 1473px 931px #fff, 862px 1273px #fff,
    773px 1197px #fff, 1406px 456px #fff, 232px 55px #fff, 769px 173px #fff,
    1722px 1634px #fff, 1200px 1226px #fff, 1713px 1698px #fff,
    451px 1074px #fff, 1036px 177px #fff, 1133px 1920px #fff, 1539px 580px #fff,
    712px 1466px #fff, 1300px 1605px #fff, 1770px 852px #fff, 1219px 1656px #fff,
    1543px 1294px #fff, 843px 644px #fff, 136px 598px #fff, 435px 66px #fff,
    1097px 573px #fff, 203px 132px #fff, 889px 1242px #fff, 1822px 1241px #fff,
    1060px 948px #fff, 401px 935px #fff, 917px 664px #fff, 1831px 1393px #fff,
    453px 898px #fff, 5px 768px #fff, 1724px 925px #fff, 1640px 717px #fff,
    406px 1135px #fff, 1155px 949px #fff, 1879px 1842px #fff, 1832px 1742px #fff,
    1367px 143px #fff, 1399px 2000px #fff, 569px 1109px #fff, 1877px 696px #fff,
    537px 1366px #fff, 1113px 127px #fff, 17px 1433px #fff, 128px 378px #fff,
    958px 989px #fff, 981px 1715px #fff, 1200px 1498px #fff, 1717px 1710px #fff,
    1650px 727px #fff, 612px 1459px #fff, 1549px 1065px #fff, 1978px 589px #fff,
    145px 871px #fff, 1244px 329px #fff, 568px 1732px #fff, 1524px 1716px #fff,
    280px 578px #fff, 1292px 1843px #fff, 1218px 1758px #fff, 723px 1361px #fff,
    1231px 1762px #fff, 944px 1981px #fff, 719px 229px #fff, 98px 1369px #fff,
    1628px 1174px #fff, 476px 1280px #fff, 1545px 180px #fff, 1080px 1044px #fff,
    680px 492px #fff, 1054px 1099px #fff, 1128px 1890px #fff, 437px 1988px #fff,
    68px 578px #fff, 280px 3px #fff, 1117px 1469px #fff, 1300px 1903px #fff,
    1908px 1877px #fff, 1056px 1724px #fff, 800px 1560px #fff, 1421px 249px #fff,
    799px 1570px #fff, 1819px 914px #fff, 836px 1498px #fff, 572px 179px #fff,
    707px 1042px #fff, 1339px 1991px #fff, 298px 859px #fff, 994px 551px #fff,
    435px 1134px #fff, 1717px 1981px #fff, 693px 1986px #fff, 1923px 336px #fff,
    1908px 157px #fff, 987px 1777px #fff, 460px 782px #fff, 87px 1677px #fff,
    1764px 1921px #fff, 295px 46px #fff, 146px 1299px #fff, 1368px 1014px #fff,
    1263px 1984px #fff, 1380px 1024px #fff, 1243px 614px #fff, 380px 1699px #fff,
    1501px 954px #fff, 1267px 1860px #fff, 1119px 1930px #fff, 224px 1319px #fff,
    1273px 1452px #fff, 1264px 1407px #fff, 1381px 701px #fff, 1498px 166px #fff,
    1534px 677px #fff, 664px 694px #fff, 1901px 1565px #fff, 1631px 1024px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
